html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    width: 1440px;
    font-family: Roboto;
}

.header {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    width: 333px;
    height: 86px;
    margin: 12px 0px 0px 4px;
    font-size: 72px;
    font-weight: 400;
    line-height: 86.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.site-navigation {
    margin: 12px 0px 0px 626px;
    width: 98px;
    height: 108px;
    gap: 8px;
    list-style-type: none;

}

.site-navigation span {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration: none;
    color: #212529;
}

.number {
    margin: 12px 32px 0px 207px;
    width: 140px;
    height: 21px;
}



.block1 {
    width: 1376px;
    height: 1251px;
    margin: 40px 0px 0px 32px;
    gap: 32px;
}

.block1 h1 {
    padding-top: 51px;
    width: 610px;
    height: 172px;
    font-family: Roboto;
    font-size: 72px;
    font-weight: 400;
    line-height: 86.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.description {
    margin-top: 115px;
    width: 445px;
    height: 84px;
    display: flex;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.order {
    margin: 0px 0px 0px 1200px;
    width: 164px;
    height: 23px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;
}
    
.sofa {
    margin: 366px 0px 0px 0px;
    position: absolute;
    width: 329px;
    height: 493px;
    gap: 0px;
    justify-content: space-between;
}
    
.room {
    margin: 50px 0px 0px 698px;
    position: static;
    width: 678px;
    height: 809px;

    gap: 0px;
    justify-content: space-between;
}

.block2 {
    margin: 50px 32px 0px 32px;
    width: 1376px;
    height: 630px;
}

.block2 .text-together {
    display: flex;
}

.block2 h2 {
    width: 562px;
    height: 198px;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 66.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    white-space: nowrap;
    color: #212529;
}

.block2 .text {
    margin: 29px 0px 0px 135px;
    width: 679px;
    height: 208px;
    top: 1416px;
    left: 729px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block2 .paras {
    margin: 44px 0px 0px 698px;
    width: 678px;
    height: 308px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block2 .paras p {
    margin: 0px;
    font-family: Helvetica;
    font-size: 36px;
    line-height: 49.68px;
}

.block2 .experience {

    width: 146px;
    height: 94px;
}

.block2 .projs {
    margin: 24px 0px 24px 0px;
    width: 117px;
    height: 94px;
}

.block2 .production {
    width: 146px;
    height: 72px;
}

.block3 {
    margin: 120px 32px 0px 32px;
    width: 1376px;
    height: 1100px;
}

.block3 .titles {
    display: flex;
}

.titles div {
    width: 562px;
    height: 66px;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 66.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.titles p {
    margin: 22px 0px 0px 140px;
    width: 325px;
    height: 44px;
}

.block3 hr {
    border-color: black;
    width: 675px;
}

.block3 .list1 {
    margin: 44px 0px 0px 698px;
    width: 678px;
    height: 870px;
}

.block3 .list1 div {
    margin-top: 24px;
    display: flex;
    height: 168px;
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block3 .list1 div span {
    font-family: Helvetica;
    font-size: 36px;
    line-height: 49.68px;
    width: 328px;
}

.block3 .list1 div p {
    font-size: 16px;
    line-height: 22.4px;
    margin-top: 10px;
}

.block4 {
    width: 1376px;
    height: 1294px;
    margin: 120px 32px 0px 32px;
}

.block4 p {
    width: 562px;
    height: 66px;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 66.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block4 img {
    width: 445px;
    height: 580px;
    margin-bottom: 16px;
}

.kitchen,
.bedroom {
    margin: 0px 16px 0px 16px;
}

.block5 {
    width: 1376px;
    height: 425px;
    margin: 120px 32px 0px 32px;
}

.block5 .title {
    width: 562px;
    height: 66px;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    line-height: 66.24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block5 .table {
    display: flex;
}

.block5 div {

    width: 445px;
    height: 327px;
    border: 1px 0px 0px 0px;
    border: 1px solid #000000;
    margin: 32px 20px 0px 0px;
}

.block5 img {
    width: 40px;
    height: 40px;
    margin: 40px 202px 32px 202px;
}

.block5 .table span {
    width: 136px;
    height: 25px;
    margin: 32px 0px 0px 150px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.84px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block5 .table p {
    width: 365px;
    height: 110px;
    margin: 20px 40px 0px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.block6 {
    width: 1376px;
    height: 566px;
    margin: 120px 32px 0px 32px;
    display: flex;
}

.letter {
    width: 562px;
    height: 566px;
}

.block6 .quests {
    display: grid;
    margin: 0px 0px 0px 136px;
}

.block6 p {
    font-weight: 400;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.quests .question {
    margin: 0px;
    font-family: Helvetica;
    font-size: 48px;
    line-height: 66.24px;
}

.quests .recall {
    font-size: 16px;
    line-height: 22.4px;
    margin: 16px 0px 0px 0px;
}

.quests .pers {
    margin: 36px 0px 0px 0px;
}

.block6 hr {
    width: 562px;
    margin: 0;
    border-color: black;
}

.block6 .button {
    width: 176px;
    height: 46px;
    margin: 24px 0px 0px 0px;
}

.block6 .apps {
    width: 250px;
    height: 36px;
    margin: 20px 0px 0px 0px;
}